{% extends 'base.html.twig' %}

{% block title %}{% trans %}Forgot_password{% endtrans %}{% endblock %}

{% block main %}
    <h1>{% trans %}Forgot_password{% endtrans %}</h1>
    {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}

    {{ form(form) }}

{% endblock %}