{% extends 'base.html.twig' %}

{% block title %}Změna hesla{% endblock %}

{% block main %}
    <h1>Změna hesla</h1>
    {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}

    {{ form(form) }}

{% endblock %}