{% extends 'base.html.twig' %}

{% block title %}Admin page!{% endblock %}

{% block body %}

<p>This is amin page of our new web.</p>
<ul>
    <li><a href="{{ path('admin_race_results')}}">Race results</a></li>
</ul>
{% endblock %}