{% extends 'base.html.twig' %}

{% block title %}Administrace{% endblock %}

{% block body %}

<p>Vítejte v administraci</p>

<h2>Výsledky</h2>
{% for race in races %}
        <li><a href="{{ path('admin_race_results', {raceid:race.id}) }}">{{race.title}}</a></li>
    {% endfor %}
<div><a href="">

{% endblock %}