<h1>Ahoj {{ name }}</h1>

<p>Byl ti vytvořen účet v aplikaci <a href="https://app.picnicadventures.com/">Picnic adventures</a>, 
která bude během závodu {{ race }} sloužit k logování checkpointů.</p>

<p>Přihlašovací jméno je email, pod kterým jsi se hlásil do závodu.</p>
<p>Heslo je: {{ password }}</p>
<p>Heslo si prosím po prvním přihlášení změň.</p>
<p>Je možné, že těsně po obdržení tohoto emailu ještě není dokončeno nahrávání všech dat do aplikace a proto 
se může chovat podivně. Vydrž prosím nějakou chvíli a jestli problémy přetrvávají ozvi se Jánošíkovi na email 
<a href="mailto:zdenek.jancik@gmail.com">zdenek.jancik@gmail.com</a> nebo telefon +420 608 934 330.</p>

<p>Uvidíme se na startu</p>

<p>Zdeněk "Jánošík" Jančík</p>