<!DOCTYPE html>
<html>
    <head>
        <title>{{race.title}} - úkoly]</title>
        <meta charset="UTF-8">
        <style>
            table {border-collapse: collapse;}
            table, th, td {border: 1px solid black;}
        </style>
    </head>

    <body>
        <h1>{{race.title}} - Úkoly</h1>

        <table>
            <tr><th>Úkol</th><th>Detail</th><th>Splněno</th></tr>
            {% for task in tasks %}
            <tr>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>