{% extends 'base.html.twig' %}

{% block title %}Deník - {{post.title}}{% endblock %}

{% block main %}

    <h1>{{post.title}}</h1>

    <div>{{post.text|sanitize_html }}</div>

    {% for image in images %}
        <img src="{{ asset('uploads/images/' ~ image.filename) }}" width="600px">
    {% endfor %}

{% endblock %}