{% extends 'base.html.twig' %}

{% block title %}Deník - {{post.title}}{% endblock %}

{% block main %}

    <h1>{{post.title}}</h1>

    <div>{{post.text|sanitize_html }}</div>

    {% if post.imageFilename %}
        <img src="{{ asset('uploads/images/' ~ post.imageFilename) }}" width="600px">
    {% endif %}

{% endblock %}