<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block script %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
            <a href="{{ path('homepage') }}">Úvod</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_home')}}">Administrace</a>
            {% endif %}

            {% if app.user %}
                <a href="{{ path('app_logout')}}">Odhlásit</a>

            {% else %}
                <a href="{{ path('app_login')}}">Přihlášení</a>
            {% endif %}
            </header>
        {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
