
{% extends 'base.html.twig' %}

{% block title %}Hlavní stránka{% endblock %}

{% block main %}
    {% for message in app.flashes('success') %}
    <div class="alert alert-primary">
        {{ message }}
    </div>
    {% endfor %}

    <p>Vítejte v aplikaci pro zaznamenání postupu závodem pořádaným spolkem dobrodruhů Picnic Adventures.</p>

    {% if app.user %}
        <p>Prosím pokračujte na <a href="{{ path('all_races')}}">seznam závodů</a>.</p>
    {% endif %}

{% endblock %}