
{% extends 'base.html.twig' %}

{% block title %}Main page!{% endblock %}

{% block body %}

<p>This is homepage of our new web.</p>

    {% if app.user and not is_granted('ROLE_ADMIN') %}
        <a href="{{ path('all_races')}}">Race index</a>
    {% endif %}

{% endblock %}