
{% extends 'base.html.twig' %}

{% block title %}Hlavní stránka{% endblock %}

{% block main %}

    {% if app.user %}
        <p><a href="{{ path('all_races')}}">Seznam závodů</a></p>
    {% endif %}

{% endblock %}