
{% extends 'base.html.twig' %}

{% block title %}Main page!{% endblock %}

{% block body %}

<p>This is homepage of our new web.</p>

    {% if app.user %}
        <a href="{{ path('all_peaks')}}">Peaks index</a>
    {% endif %}

{% endblock %}