
{% extends 'base.html.twig' %}

{% block title %}Hlavní stránka{% endblock %}

{% block body %}

    {% if app.user %}
        <a href="{{ path('all_races')}}">Seznam závodů</a>
    {% endif %}

{% endblock %}