
{% extends 'base.html.twig' %}

{% block title %}Závody{% endblock %}

{% block body %}

    <ul>
    {% for race in races %}
        <li><a href="{{ path('race_show', {id:race.id}) }}">{{race.title}}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
