{% extends 'base.html.twig' %}

{% block title %}All peaks{% endblock %}

{% block body %}

    <h1>Vrcholy</h1>

    <h2>Všechny</h2>
    <ul>
    {% for peak in peaks %}
        <li><a href="{{ path('peak_show', {id:peak.id}) }}">{{peak.title}}</a></li>
    {% endfor %}
    </ul>

    <h2>Navštívené</h2>
    <ul>
    {% for peak in visited %}
        <li><a href="{{ path('peak_show', {id:peak.id}) }}">{{peak.title}}</a></li>
    {% endfor %}
    </ul>


{% endblock %}
