{% extends 'base.html.twig' %}

{% block title %}All peaks{% endblock %}

{% block body %}

    <ul>
    {% for peak in peaks %}
        <li><a href="{{ path('peak_show', {id:peak.id}) }}">{{peak.title}}</a></li>
    {% endfor %}
    </ul>


{% endblock %}
