{% extends 'base.html.twig' %}

{% block title %}{{race.title}}{% endblock %}

{% block main %}

<h1>{{race.title}}</h1>
<p>Logování checkpointů pro tento závod ještě není spuštěno vyčkejte 
prosím do {{race.startLoggingPeaks|date('d.m.Y H:i:s')}}</p>

<p>Aktuální čas: {{"now"|date('d.m.Y H:i:s')}}</p>

{% endblock %}